{
  values: [
    {
      key: 'baseUrl',
      value: 'https://staging-pmt-api.teamdev.id/api'
    },
    {
      key: 'clientId',
      value: 'ffffffff-ffff-ffff-ffff-ffffffffffff'
    },
    {
      key: 'clientSecret',
      value: '01234567890ABCDEFGHIJKLMNOP'
    }
  ]
}
